/* Provided Under BSD (2 Clause)
//
// Copyright 2025 Johnathan A. Hartsfield
//
// Redistribution and use in source and binary forms, with or without
// modification, are permitted provided that the following conditions are met:
//
// 1. Redistributions of source code must retain the above copyright notice,
// this list of conditions and the following disclaimer.
//
// 2. Redistributions in binary form must reproduce the above copyright notice,
// this list of conditions and the following disclaimer in the documentation
// and/or other materials provided with the distribution.
//
// THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS “AS IS”
// AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
// IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
// ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
// LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
// CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
// SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
// INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
// CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
// ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
// POSSIBILITY OF SUCH DAMAGE.
//
// ////////////////////////////////////////////////////////////////////////////
*/
.form-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        position: relative;
        z-index: -1;
        border: 1px dashed #a6cfbb;
        border-top: none;
        background: #fffce2;
        transform: translateY(-97px);
        transition: 1s all;
}
.uploadForm {
        overflow: hidden;
        margin-bottom: 0;
        width: calc(100vw - 30%);
        border-right: 1px dashed #a6cfbb;
        border-left: 1px dashed #a6cfbb;
        transition: 1s all;
}
.upload-input {
        border-radius: 0.3em;
}
.form-media {
        display: none;
}
.upload-text {
        border: none;
        color: #f1c676;
        font-family: 'Outfit';
        font-size: 1.1em;
        font-weight: 100;
        height: calc(100% - 1.2em);
        letter-spacing: 0.5px;
        line-height: 28px;
        min-height:1.7em;
        outline: transparent;
        padding: 0.5em 1em;
        resize: none;
        text-align: center;
}
.upload-text:enabled {
        border-color: #88d8ae !important;
}
.form-submit {
        width: 15%;
        margin: 0.4em 0.2em;
        background: url("public/media/fd.svg");
        background-color: #ffd8ac;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        color: transparent;
        opacity: 0.5;
}
.upload-cover {
        background: url("public/media/up.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 1.3em;
        filter: sepia(109) saturate(150000) contrast(0.7) hue-rotate(358deg);
        opacity: 0.5;
        width: 14%;
}
.upload-symbols-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        /*transform: translateY(-71px);*/
        z-index: -1;
        position: relative;
        border-bottom-left-radius: 0.8em;
        border-bottom-right-radius: 0.8em;
        transition: 1s all;
}
.upload-symbols {
        min-height: 1em;
        width: 100%;
        background: white;
        padding: 0.5em 0.5em;
        border: 1px dashed #d7b6b6;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0.8em;
        border-bottom-right-radius: 0.8em;
        border-top: none;
}
.upload-outer-toggle-stream {
        margin-top: 7.2em !important;
        transition: 1s all;
}
