{{/*  Provided Under BSD (2 Clause)                                        */}}
{{/*                                                                       */}}
{{/*  Copyright 2025 Johnathan A. Hartsfield                               */}}
{{/*                                                                       */}}
{{/*  Redistribution and use in source and binary forms, with or without   */}}
{{/*  modification, are permitted provided that the following conditions   */}}
{{/*  are met:                                                             */}}
{{/*                                                                       */}}
{{/*  1. Redistributions of source code must retain the above copyright    */}}
{{/*     notice,this list of conditions and the following disclaimer.      */}}
{{/*                                                                       */}}
{{/*  2. Redistributions in binary form must reproduce the above copyright */}} 
{{/*     notice, this list of conditions and the following disclaimer in   */}}
{{/*     the documentation and/or other materials provided with the        */}}
{{/*     distribution.                                                     */}}
{{/*                                                                       */}}
{{/*  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS  */}}
{{/*  “AS IS” AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT    */}}
{{/*  LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND            */}}
{{/*  FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL   */}}
{{/*  THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT,       */}}
{{/*  INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES   */}}
{{/*  (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR   */}} 
{{/*  SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)   */}}
{{/*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,  */}} 
{{/*  STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)        */}}
{{/*  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED  */}} 
{{/*  OF THE POSSIBILITY OF SUCH DAMAGE.                                   */}}
{{ if .Credentials.IsLoggedIn}}
<div class="form-wrapper" id="form-wrapper">
        <div class="upload-cover" 
             onclick="document.getElementById('Media').click()"></div>
        <form class="uploadForm" id='uploadForm' enctype='multipart/form-data'>
                <div contenteditable class="upload-text upload-input" id='uptext' 
                                     oninput="document.getElementById('uptext_')
                                     .value = document.getElementById('uptext' )
                                     .innerHTML;">dream eternal</div>
                <input hidden id='uptext_' type='text' name='uptext'/> 
                <input id='pol_' type='text' name='political'/> 
                <input hidden id='fin_' type='text' name='finance'/> 
                <input hidden id='art_' type='text' name='art'/> 
                <input hidden id='lif_' type='text' name='life'/> 
                <input hidden id='men_' type='text' name='mentions'/> 
                <form  class="img-uploadForm" id='uploadForm' enctype='multipart/form-data'>
                        <input class="form-media upload-input" id='Media' type='file' name='Media'/>
                </form>
                <div class="form-submit upload-input" value="submit" onclick="submitPost()"></div>
</div>
<div class="upload-symbols-wrapper" id="up-sym-wrap">
        <div class="upload-symbols" id="upload-symbols"></div>
</div>
<style>{{ template "upload.css" . }}</style>
<script>{{ template "upload.js" . }}</script>
{{ end }}
