/* Provided Under BSD (2 Clause)
//
// Copyright 2025 Johnathan A. Hartsfield
//
// Redistribution and use in source and binary forms, with or without
// modification, are permitted provided that the following conditions are met:
//
// 1. Redistributions of source code must retain the above copyright notice,
// this list of conditions and the following disclaimer.
//
// 2. Redistributions in binary form must reproduce the above copyright notice,
// this list of conditions and the following disclaimer in the documentation
// and/or other materials provided with the distribution.
//
// THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS “AS IS”
// AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
// IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
// ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
// LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
// CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
// SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
// INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
// CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
// ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
// POSSIBILITY OF SUCH DAMAGE.
//
// ////////////////////////////////////////////////////////////////////////////
*/

.userProfile-outer {
        margin: 6em 1em;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 97%;
}
.profile-input, .profile-about {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        color: white;
        padding: 0.3em;
        margin: 0.3em 0;
        border-radius: 0.3em;
        border: 1px dashed #535353;
        background: #5353537d;
        font-size: 0.7em;
}
.profile-inputs-wrapper {
        margin: 0 1.5em;
}
.profile-upload-bg {
        height: 5vh;
        width: 5vw;
        background-color: white;
        border-radius: 0.3em;
        position: absolute;
        right: 1em;
        top: -3em;
        background: url(/{{.Profile.ProfileBG}});
        background-size: cover;
        border: 6px solid #3eaa914a;
}
::placeholder {
        color: #d5d4d4;
        font-family: 'Outfit';
}
.profile-bg-form {
        position: fixed;
        width: 100%;
        max-width: inherit;
        height: 100vw;
        z-index: -1;
        background: url(/{{.Profile.ProfileBG}});
        background-size: cover;
        max-width: 77ch;
}
.profile-img {
        height: 25vw;
        width: 25vw;
        border-radius: 100%;
        max-width: 20ch;
        max-height: 20ch;
        background-image: url(/{{.Profile.ProfilePic}});
        background-size: cover;
}
.profile-pic {
        display: none;
}
.multi-stream {
        max-width: 60%;
}
@media screen and (orientation:landscape) {
        .profile-bg {
                max-width: 113ch;
        }
}
