.what-inner {
                display: flex;
                flex-direction:column;
}
.what-other {
        display: flex;
        flex-direction: column;
}
.what-ever {
        margin: 2em;
}
.what-about-isy {
        margin: 1em 0;
        
}
