.stream-outer {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        max-width: 77ch;
}
.stream {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin-top: 2.8em;
}
.item-outer {
        background-color: white;
        border-radius: 1em;
        overflow: hidden;
        margin-top: 1em;
        position: relative;
        border: 1px dashed #f2ac2f;
}
.item-meta-1 {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 0.1em 0.5em 0.1em 0.5em;
}
.item-posted-time {
        font-size: 0.6em;
        color: #149090;
        cursor: pointer;
}
.item-username {
        color: #ff8760;
        position: relative;
        font-size: 0.9em;
        font-weight: 100;
        text-overflow: ellipsis;
        text-align: justify;
        max-height: 6em;
        text-overflow: ellipsis;
}
.at {
        color: #849e51;
        font-weight: 400;
        font-size: 1.3em;
        line-height: 0;
}
.item-meta-2 {
        cursor: pointer;
        padding: 0.5em;
        border-top: 1px dashed #f2ac2f;
        overflow: hidden;
}
.item-text {
        position: relative;
        text-overflow: ellipsis;
        text-align: justify;
        max-height: 6em;
        font-weight: 200;
        font-family: system-ui;
}
.item-user-part {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        justify-content: space-between;
        position: relative;
        cursor: pointer;
}
.item-middle {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        flex-grow: 1;
        justify-content: space-between;
        align-items: stretch;
        background: #ffffff;
        border: 1px dashed #bfb214;
        /*box-shadow: 4px 4px #fff272;*/
        border-top-left-radius: 0em;
        border-top-right-radius: 0em;
        border-bottom-right-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
}
.item-meta-3 {
        display: flex;
        cursor: pointer;
        position: absolute;
        padding: 1em;
        filter: invert(1);
        right: 0;
        flex-direction: column;
        height: -webkit-fill-available;
        justify-content: space-around;
        flex-wrap: nowrap;    
}
.item-like {
        background: url("/public/media/heart_black.svg");
        background-size:cover ;
        background-repeat: no-repeat;
        height: 2em;
        width: 2em;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
}
.item-share {
        filter: contrast(4.5);
        background: url("/public/media/plane.svg");
        background-size:cover ;
        background-repeat: no-repeat;
        height: 2em;
        width: 2em;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
}
.item-comment {
        background: url("/public/media/comment1.svg");
        background-size:cover ;
        background-repeat: no-repeat;
        height: 2em;
        width: 2em;
}
.post-media {
        max-width: 100%;
        border-radius: 0em;
        border-radius: 0.4em;
        box-shadow: 0px -16px 67px 10px #fff6c9;
}
@media screen and (orientation:landscape) {
        .stream {
                max-width: 77ch;
        }
}
