.stream-outer {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        max-width: 77ch;
}
.stream {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin-top: 2.8em;
}
.item-outer {
        background-color: white;
        border-radius: 1em;
        overflow: hidden;
        margin-top: 1em;
        position: relative;
        border: 1px dashed #dfdfdf;
        box-shadow: -1px 1px 8px 0px #aaaaaadb;
        display: flex;
        flex-direction: column;
}
.item-meta-1 {
        align-items: center;
        display: flex
        ;
        justify-content: space-between;
        padding: 5px 11px;
}
.item-posted-time {
        font-size: 0.7em;
        color: #149090;
        cursor: pointer;
}
.item-username {
        color: #ff8760;
        position: relative;
        font-size: 0.9em;
        font-weight: 100;
        text-overflow: ellipsis;
        text-align: justify;
        max-height: 6em;
        text-overflow: ellipsis;
}
.at {
        color: #849e51;
        font-weight: 400;
        font-size: 1.3em;
        line-height: 0;
}
.item-meta-2 {
        cursor: pointer;
        padding: 4px 11px;
        border-top: 1px dashed #d4dd4f;
        overflow: hidden;
        position: relative;
        background: #ffffff;
        z-index: 2;
        padding-bottom: 0;
}
.item-text {
        max-height: 6em;
        font-weight: 400;
        font-size: 0.8em;
        color: #84795e;
        text-align: justify;
        overflow: hidden;
        text-overflow: ellipsis;
}
.item-user-part {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        justify-content: space-between;
        position: relative;
        cursor: pointer;
}
.item-middle {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        flex-grow: 1;
        justify-content: space-between;
        align-items: stretch;
        background: #ffffff;
        border: 1px dashed #bfb214;
        /*box-shadow: 4px 4px #fff272;*/
        border-top-left-radius: 0em;
        border-top-right-radius: 0em;
        border-bottom-right-radius: 0.5em;
        border-bottom-left-radius: 0.5em;
}
.item-meta-3 {
        display: flex
        ;
        cursor: pointer;
        position: absolute;
        padding: 1em;
        /* filter: invert(1); */
        right: 0;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: nowrap;
        border-radius: 1em;
        width: 13em;
        align-items: flex-end;
        mix-blend-mode: color-dodge;
        filter: contrast(0) sepia(1) brightness(1.35) drop-shadow(2px 4px 6px black);
        z-index: 10;
        height: calc(100% - 20em);
        margin-top: 9em;
}
.item-like {
        background: url("/public/media/heart_black.svg");
        background-size:cover ;
        background-repeat: no-repeat;
        height: 2em;
        width: 2em;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
}
.item-share {
        filter: contrast(4.5);
        background: url("/public/media/plane.svg");
        background-size:cover ;
        background-repeat: no-repeat;
        height: 2em;
        width: 2em;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
}
.item-comment {
        background: url("/public/media/comment1.svg");
        background-size:cover ;
        background-repeat: no-repeat;
        height: 2em;
        width: 2em;
}
.post-media {
        max-width: 99%;
        position: relative;
        border-radius: 1.2em;
        z-index: 2;
    border: 10px solid #ffffff;
}
@media screen and (orientation:landscape) {
        .stream {
                max-width: 77ch;
        }
}
@media screen and (orientation:portrait) {
        .item-outer {
                border-left: none;
                border-right: none;
        }
}

.item-comments {
        background-color: white;
        padding: 0.5em;
        display: flex;
        border-top: 1px dashed #d0d0d0;
}
.item-comments-textarea {
        height: 2em;
        width: 100%;
        resize: none;
}
.item-comment-submit {
        padding: 0.1em 0.3em;
        background-color: #ff5500;
        width: fit-content;
        border-radius: 0.3em;
        color: #9d0d0d;
        border: 1px dashed #54451f;
}
