<div class="template-wrapper auth-outer" id="auth-outer">
        <form class="auth" name="authForm" id="authForm" enctype="application/json">
                <input name="username" class="auth-input-user" type="email" placeholder="email" id="username">
                <input name="password" class="auth-input-password" type="password" placeholder="password" id="password">
        </form>
        <div class="auth-butt-wrapper">
                <div class="auth-signin" onclick="auth('signin')">sign-in</div>
                <div class="auth-signup" onclick="auth('signup')">sign-up</div>
        </div>
        <style>{{ template "auth.css" . }}</style>
        <script>{{ template "auth.js" . }}</script>
        <div class="errorDiv" id="errorDiv"></div>
</div>
